<div class="user-signedit-container">
	<div class="user-signedit-box">

		<h1>Log In</h1>

      <div class="row">
        <div id="user-signedit-form" class="large-12">
        	
        	<%= form_tag '/login' do %>
				  	Email: <%= text_field_tag :email %>
				  	Password: <%= password_field_tag :password %>
				  	<%= submit_tag "Submit" %>
					<% end %>
       
        </div>
      </div>

	</div>
</div>
