/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides

 */

.innards {
	margin: 0px auto;
	margin-top: 30px;
	width: 900px;
	height: 600px;
	background-color: rgba(112, 194, 179, 0.5);
	padding: 50px;
	box-shadow: 8px 8px 5px #75968d;
	border-radius: 5px;
}

#nav-bar {
	wideth: 900px;
}



