 <tr>  
  <td style="float:left"><img  src="<%= recommendation.user.attachment%>"></td>
  <td style="width:80%">
    <div id="recommendation-text">
      "<%= recommendation.body %>"
      <br>
      - <%= recommendation.user.name %>   
    </div>
  </td>
</tr>