#map {
  position:absolute;
<<<<<<< HEAD
  left:19%;
  width:80%;
  margin-top:2.5%;
  top:0;bottom:0;
  height:95%;
=======
  left:20%;
  width:75%;
  margin-top:3%;
  top:0;bottom:0;
  height:90%;
>>>>>>> move up a folder:arrow_up:
}

#side-bar{
  position:absolute;
  width:19%;
  height:90%;
  margin-top: 3%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}

#listing {
  height:90%;
  overflow:auto;
}
