.cover{
    min-height:100vh;
}

#home-page>.cover:first-child{
    background-image: url(../images/gg-splash.jpg);
    background-size:100%;
}

#home-page>.cover:second-child{
    background-image: url(../images/white-splash.jpg);
    background-size:100%;
}

.splash-image {
    width:60%;
    display:block;
    margin:200px auto;
}