<%= render 'layouts/navigation' %>
<div id="categories-index-container">
	<div id="categories-index-table">
				<table>
				  <tr>
				    <th><h1>Categories</h1></th>
				  </tr>
				  <% @categories.each do |category| %>
				    <tr>
				      <td><%=link_to "#{category.name}", category_path(category.id) %></td>
				    </tr>
				  <% end %>
				</table>
	</div>
</div>


	<div id="categories-index-map">

	  <%= render 'map_index_all' %>
	</div> 